.education {
    text-align: start;
    width: 100%;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 10px 0; 
    color: rgb(1, 61, 61);
}


.edu-item {
    margin: 5px 0;
    padding: 5px;
    color: #282828;
}